body {
	background: url("");
	background-size: cover; 
}

.navbar {
	height: 75px;

}

.navbar-brand {
	font-size: 32px;
	margin-top: 10px;
}

.dropdown-toggle {
	margin-top: 10px;
}

.form-control {
	margin-top: 10px;
	margin-left: 200px;
}

a {
	margin-top: 10px;
}

button.btn {
	margin-top: 10px;
	margin-left: 20px;
}


#headerbox {
	background-color: orange;
	text-align: center;
	font-weight: bolder;
	padding: 10px;
	color: #ffffff;

}

div.scroll {
    background-color: #ffffff;
    width: 300px;
    height: 600px;
    overflow: scroll;
}

ul {
	list-style-type: none;
}


button #ingredientbutton {
	align-content: center;
}

