.container-fluid {
	height: 75px;
}

.navbar-brand {
	font-size: 32px;
}

div.scroll {
    background-color: #ffffff;
    width: 500px;
    height: 600px;
    overflow: scroll;
}

ul {
	list-style-type: none;
}

.speech {
	border: 1px solid #DDD; 
	width: 300px; 
	padding: 0; 
	margin: 0
}

.speech input {
	border: 0; 
	width: 240px; 
	display: inline-block; 
	height: 30px;
}

.speech img {
	float: right; 
	width: 25px; 
	margin-top: 2px;
}

 button.btn btn-default {
 	margin-top: 15px;
 }


