body {
    color: #333;
}

a {
    text-decoration: none;
    /*color: #1b98f8;*/
}

.navbar-brand {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    /*width: 95%;*/
    
}

.navbar-header, 
.navbar-default {
    width: 100%;
    
}
.navbar-default .navbar-brand {
    color: #fff;
    background-color: #3A3D45;
    text-align: center;
}
/*#7DBF27*/
#login-icon {
    /*float: right;*/
    padding-top: 10px;
    /*padding-right: 10px;*/
    color: #7DBF27;
    text-align: center;
    
}
.navbar {
    
    margin-bottom: 0px;
    border-radius: 0px;
    
        border-color: rgb(37, 42, 58);
    
}


.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    width: 100%;
    padding: 10px;

}
.primary-button {
    color: #fff;
    background: #7DBF27;
    /*  margin: 1em 0;*/
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: red;
    padding: 0.5em 2em;
    font-size: 80%;
}

/* * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */


#layout, #nav, #list, #main {
    margin: 0px;

}
/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    /*background: rgb(37, 42, 58);*/
    background: #3A3D45;
    text-align: center;
    font-weight: lighter;

}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}
/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
    height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
    color: white;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}
/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu-link:hover,
    #nav .pure-menu-link:focus {
        /*background: rgb(55, 60, 90);*/
        background-color: #4E5057;
    }



    #nav .pure-menu-link {
        color: #fff;
        /*margin-left: 0.5em;*/
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }

 .navbar-header .navbar-brand:hover,
    .navbar-header .navbar-brand:focus {
        color: #7DBF27;
    }

    .fa .fa-user #login-icon:hover,
    .fa .fa-user #login-icon:focus {
        font-color: #7DBF27;
    }
/*
 * -- EMAIL STYLES --
 * Styles relevant to the email messages, labels, counts, and more.
 */

.category-label-diary,
.category-label-meat,
.category-label-fruit {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}
.category-label-diary {
    background: #ffc94c;
}
.category-label-meat {
    background: #41ccb4;
}
.category-label-fruit {
    background: #40c365;
}


/* category Item Styles */
.category-list {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd; 
}
    .image-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }

    .category-Item {
        margin-right: 0px;
    }
    .pure-checkbox {
        padding-top: 10px;
        /*width: 120%;*/
/*        transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);*/
    }
.pure-button {
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-radius: 0px;*/

}

.pure-form input[type=text] {
    border-radius: 0px;
    box-shadow: 0px 0px white;
    float: left;
}

.pure-form 
button[type=submit] {
        margin: .0em 0 0;
    }

#add-button {
    border-radius: 0px;
    margin-left: 10px;
}

h4 {
    padding: 0px;
    margin-right: 0px;
}
/* main content
*/
.recipe-content {
    padding: 30px;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:500px; /* "left col (nav + list)" width */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav, #list {
        position: fixed;
        padding-top: 0px;
        /*top: 0;*/
        /*bottom: 0;*/
        overflow: auto;
    }
    #nav {
        margin-left:-500px; /* "left col (nav + list)" width */
        width:150px;
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 0em 0;
        font-size: 18px;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #list {
        margin-left: -350px;
        width: 100%;
        /*height: 33%;*/
        border-bottom: 1px solid #ddd;
        margin-right: 200px;
    }

    #main {
        position: fixed;
        /*top: 33%;*/
        right: -10px;
        bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }



}


/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        margin-left: -350px;
        margin-right: 0px;
        width:300px;
        height: 100%;
        border-right: 1px solid #ddd;
    }



    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        position: static;
        margin-left: -40px;
        padding: 0;
    }

}

